a {
  text-decoration: none;
}

h1 {
  font-family: Staatliches;
  font-size: 120px;
}

#category {
  font-family: Staatliches;
  font-weight: 500;
}

#title {
  /*letter-spacing: 0.4px;*/
  /*font-size: 22px;*/
  /*font-size: 1.375rem;*/
  /*line-height: 1.13636;*/
}

#banner {
  margin: 20px;
  /*height: 300px;*/
}

#editor {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.75;
}

.uk-navbar-container {
  background: #fff !important;
  font-family: Staatliches;
}

img:hover {
  opacity: 1;
  transition: opacity 0.25s cubic-bezier(0.39, 0.575, 0.565, 1);
}

@media screen and (min-width: 541px) {
  .container .home-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px){
    .container {
        margin: 0 auto;
        width: 728px;
    }
}

.post-preview {
  display: flex;
  flex-direction: row;
  padding: 16px 0 10px;
  font-family: var(--font_family_ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol');
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

.post-preview > .post-preview-image {
  flex-shrink: 0;
  margin-right: 28px;
  width: 168px;
  height: 121px;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}


.post-preview > .post-preview-content > .post-preview-title {
  display: block;
  color: #1a1a1a;
  font-family: var(--font_family_headings, 'SF Compact Display', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol');
  font-size: 18px;
  font-weight: bold;
  line-height: 1.1em;
  text-decoration: none;
  margin-bottom: 6px;
}

.post-preview > .post-preview-content {
  width: 100%;
}

.post-preview > .post-preview-content > .post-preview-description {
  display: block;
  margin-top: 6px;
  color: var(--print_secondary, #757575);
  font-size: 16px;
  line-height: 1.47em;
  text-decoration: none;
}
.container > .uk-grid-margin{
  margin-top: 5px;
}

.post-preview > .post-preview-content > .post-preview-meta {
  margin-bottom: 0;
}
table.post-meta {
  margin: 0 0 10px;
}

table.post-meta tr td.post-meta-item.post-date, table.post-meta tr td.post-meta-item.icon {
    white-space: nowrap;
}
table.post-meta tr td.post-meta-item {
    position: relative;
    padding: 7px 12px 7px 0;
    height: 20px;
    font-size: 14px;
    font-family: var(--font_family_ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol');
    font-weight: 300;
    line-height: 20px;
    color: var(--print_secondary, #757575);
    text-decoration: none;
    vertical-align: middle;
}

.svgIcon{
    height: 20px;
    width: 14px;
}


.home-page .home-big-post.post-preview.has-image, .home-page .home-big-post.post-preview-silhouette.has-image {
    align-items: center;
    justify-content: center;
    max-width: 924px;
}
.home-page .home-big-post.post-preview, .home-page .home-big-post.post-preview-silhouette {
    margin: 0 auto;
    padding: 42px 0 32px;
    max-width: 728px;
}

.home-page .home-big-post.post-preview.has-image > .post-preview-image, .home-page .home-big-post.post-preview-silhouette.has-image > .post-preview-image, .home-page .home-big-post.post-preview.has-image > .post-preview-silhouette-image, .home-page .home-big-post.post-preview-silhouette.has-image > .post-preview-silhouette-image, .home-page .home-big-post.post-preview.has-image > .post-preview-content, .home-page .home-big-post.post-preview-silhouette.has-image > .post-preview-content, .home-page .home-big-post.post-preview.has-image > .post-preview-silhouette-content, .home-page .home-big-post.post-preview-silhouette.has-image > .post-preview-silhouette-content {
    height: 292px;
    width: 438px;
}

.post-preview:hover {
    background-color: rgba(0, 0, 0, 0.025);
    box-shadow: -16px 0 0 0 rgba(0, 0, 0, 0.025), 16px 0 0 0 rgba(0, 0, 0, 0.025);
    text-decoration: none;
}

.width-100{
    width: 100%;
}

.post-preview > .post-preview-content {
    width: 100%;
}